<div class="span3">
  <table class="table">
    <tbody>
    <% @teams.each do |team| %>
        <tr>
          <td>
            <%= link_to team.name, team_path(team) %>
          </td>
          <td class="points">
            <%= team.active_points %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
