<div class="span3">
  <table class="table table-striped">
<thead>
<tr>
  <th>Team Name</th>
  <th>Points</th>
</tr>
</thead>
    <tbody>
    <% @teams.each do |team| %>
        <tr>
          <td>
            <%= link_to team.name, team_path(team) %>
          </td>
          <td class="points">
            <%= team.active_points %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
