<div class="text-center">
  <h2>Weekly Projections</h2>
</div>
<div class="span3">
  <table class="table table-striped">
<thead>
<tr>
  <th>Team Rank</th>
  <th>Projected Points</th>
</tr>
</thead>
    <tbody>
    <% @ordered_teams.each_with_index do |team, i| %>
        <tr>
          <td>
            <%= i + 1 %>  <%= link_to team.name, team_path(team) %>
          </td>
          <td class="points">
            <%= team.active_points %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
